Mapper/Schemas/ConfigSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConfigList" nillable="true" type="ConfigList" />
  <xs:complexType name="ConfigList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Configs" type="ArrayOfConfig" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfConfig">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Config" nillable="true" type="Config" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Config">
    <xs:attribute name="From" type="xs:date" use="required" />
    <xs:attribute name="To" type="xs:date" use="required" />
    <xs:attribute name="ConfigPath" type="xs:string" use="required" />
    <xs:attribute name="SourcePath" type="xs:string" use="required" />
    <xs:attribute name="TemplatePath" type="xs:string" />
    <xs:attribute name="TargetPath" type="xs:string" use="required" />
    <xs:attribute name="Append" type="xs:boolean" />
  </xs:complexType>
</xs:schema>