Mapper/Schemas/MappingSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:target="http://mapper.com/mappings" targetNamespace="http://mapper.com/mappings">
  <element name="File" nillable="true" type="target:File">
    <annotation>
      <documentation>
        Informacje o pliku szablonu.
      </documentation>
    </annotation>
  </element>
  <complexType name="File">
    <all>
      <element minOccurs="1" maxOccurs="1" name="Cards" type="target:ArrayOfCard">
        <annotation>
          <documentation>
            Kolekcja arkuszy pliku wynikowego.
          </documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="InputFileInfo" type="target:SheetInfo">
        <annotation>
          <documentation>
            Informacje o plikach źródłowych.
          </documentation>
        </annotation>
      </element>
    </all>
    <attribute name="Name" type="string" use="required">
      <annotation>
        <documentation>
          Ścieżka szablonu.
        </documentation>
      </annotation>
     </attribute>
    <attribute name="Password" type="string">
      <annotation>
        <documentation>
          Parametr opcjonalny. Hasło, jakim zabezpieczyć arkusze w pliku wynikowym.
        </documentation>
      </annotation>
    </attribute>
  </complexType>
  <complexType name="ArrayOfCard">
    <sequence>
      <element minOccurs="1" maxOccurs="unbounded" name="Card" nillable="true" type="target:Card">
        <annotation>
          <documentation>
            Informacje o pojedyńczym arkuszu.
          </documentation>
        </annotation>
       </element>
    </sequence>
  </complexType>
  <complexType name="Card">
    <all>
      <element minOccurs="0" maxOccurs="1" name="DateFormats" type="target:ArrayOfString">
        <annotation>
          <documentation>
            Formaty dat, jakie rozpoznawać z danych źródłowych.
          </documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="Samples" type="target:ArrayOfChoice2">
        <annotation>
          <documentation>
            Kolekcja próbek danych.
          </documentation>
        </annotation>
      </element>
    </all>
    <attribute name="Name" type="string" use="required">
      <annotation>
        <documentation>
          Nazwa arkusza w szablonie (musi on już istnieć).
        </documentation>
      </annotation>
    </attribute>
    <attribute name="TargetDateColumn" type="string">
      <annotation>
        <documentation>
          Symbol kolumny, w której umieszczać daty.
        </documentation>
      </annotation>
    </attribute>
    <attribute name="TargetFirstRow" type="int">
      <annotation>
        <documentation>
          Od jakiego wiersza rozpocząć wpisywanie danych.
        </documentation>
      </annotation>
    </attribute>
    <attribute name="Order" type="target:Order">
      <annotation>
        <documentation>
          Sortowanie próbek.
        </documentation>
      </annotation>
    </attribute>
  </complexType>
  <complexType name="ArrayOfString">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="string" />
    </sequence>
  </complexType>
  <complexType name="ArrayOfChoice2">
    <choice minOccurs="0" maxOccurs="unbounded">
      <element minOccurs="1" maxOccurs="1" name="DateSheetSample" nillable="true" type="target:DateSheetSample">
        <annotation>
          <documentation>
            Próbka, w której wpisy znajdują się w osobnych arkuszach na każdy dzień.
          </documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="RowSample" nillable="true" type="target:RowSample">
        <annotation>
          <documentation>
            Próbka, w której wpisy znajdują się w kolejnych kolumnach.
          </documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="ColumnSample" nillable="true" type="target:ColumnSample">
        <annotation>
          <documentation>
            Próbka, w której wpisy znajdują się w kolejnych wierszach.
          </documentation>
        </annotation>
      </element>
    </choice>
  </complexType>
  <complexType name="DateSheetSample">
    <complexContent mixed="false">
      <extension base="target:Sample">
        <attribute name="DateFormat" type="string" use="required">
          <annotation>
            <documentation>
              Format daty z nazw arkuszy.
            </documentation>
          </annotation>
        </attribute>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Sample" abstract="true">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="Mappings" type="target:ArrayOfChoice1">
        <annotation>
          <documentation>
            Kolekcja odwołań.
          </documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="Name" type="string" use="required">
      <annotation>
        <documentation>
          Nazwa próbki. Jeżeli użyta zostanie ta sama nazwa w kilku próbkach to zostaną one dopisane jedna pod drugą. Dla próbek których kolumny docelowe są różne stosować unikalne nazwy.
        </documentation>
      </annotation>
    </attribute>
  </complexType>
  <complexType name="ArrayOfChoice1">
    <choice minOccurs="0" maxOccurs="unbounded">
      <element minOccurs="1" maxOccurs="1" name="ColumnMapping" nillable="true" type="target:ColumnMapping">
        <annotation>
          <documentation>
            Odwołanie kolumnowe. Wartość źródłowa zbierana jest po symbolu kolumny.
          </documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="FormulaMapping" nillable="true" type="target:FormulaMapping">
        <annotation>
          <documentation>
            Odwołanie formułowe. W docelową komórkę wpisana zostanie formuła excela.
          </documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="CellMapping" nillable="true" type="target:CellMapping">
        <annotation>
          <documentation>
            Odwołanie komórkowe. Wartość źródłowa znajduje się w określonej komórce.
          </documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="ContentMapping" nillable="true" type="target:ContentMapping">
        <annotation>
          <documentation>
            Odwołanie stałe. W docelową komórkę wpisana zostanie określona wartość.
          </documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="RowMapping" nillable="true" type="target:RowMapping">
        <annotation>
          <documentation>
            Odwołanie wierszowe. Wartość źródłowa zbierana jest po numeru wiersza.
          </documentation>
        </annotation>
      </element>
    </choice>
  </complexType>
  <complexType name="ColumnMapping">
    <complexContent mixed="false">
      <extension base="target:MovableMapping">
        <attribute name="SourceColumn" type="string" use="required">
          <annotation>
            <documentation>
              Kolumna źródłowa.
            </documentation>
          </annotation>
        </attribute>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MovableMapping" abstract="true">
    <complexContent mixed="false">
      <extension base="target:Mapping" />
    </complexContent>
  </complexType>
  <complexType name="Mapping" abstract="true">
    <attribute name="Caption" type="string">
      <annotation>
        <documentation>
          Tekst odwołania. Obecnie podany jedynie dla zwiększenia czytelności.
        </documentation>
      </annotation>
    </attribute>
    <attribute name="TargetColumn" type="string" use="required">
      <annotation>
        <documentation>
          Kolumna docelowa.
        </documentation>
      </annotation>
    </attribute>
    <attribute name="IsIgnorable" type="boolean">
      <annotation>
        <documentation>
          Określa czy ignorować odwołanie, nawet gdy występuje wartość w źródle.
        </documentation>
      </annotation>
    </attribute>
  </complexType>
  <complexType name="FormulaMapping">
    <complexContent mixed="false">
      <extension base="target:Mapping">
        <attribute name="Formula" type="string" use="required">
          <annotation>
            <documentation>
              Formuła excela. Wpisywana bez "=" oraz z angielskimi nazwami funkcji.
            </documentation>
          </annotation>
        </attribute>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ContentMapping">
    <complexContent mixed="false">
      <extension base="target:Mapping">
        <attribute name="Content" type="string" use="required">
          <annotation>
            <documentation>
              Wartość do wpisania w komórkę docelową.
            </documentation>
          </annotation>
        </attribute>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CellMapping">
    <complexContent mixed="false">
      <extension base="target:Mapping">
        <attribute name="SourceAddress" type="string" use="required">
          <annotation>
            <documentation>
              Adres źródłowy odwołania.
            </documentation>
          </annotation>
        </attribute>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RowMapping">
    <complexContent mixed="false">
      <extension base="target:MovableMapping">
        <attribute name="SourceRow" type="int" use="required">
          <annotation>
            <documentation>
              Wiersz źródłowy odwołania.
            </documentation>
          </annotation>
        </attribute>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SingleSheetSample" abstract="true">
    <complexContent mixed="false">
      <extension base="target:Sample">
        <attribute name="SourceCardName" type="string">
          <annotation>
            <documentation>
              Nazwa arkusza w plikach źródłowych. W razie braku wartości przyjęta zostanie nazwa z elementu Card.
            </documentation>
          </annotation>
        </attribute>
        <attribute name="SourceFrom" type="string" use="required">
          <annotation>
            <documentation>
              Pozycja startowa (wiersz lub kolumna), od jakiej występują wartości.
            </documentation>
          </annotation>
        </attribute>
        <attribute name="SourceTo" type="string" use="required">
          <annotation>
            <documentation>
              Pozycja końcowa (wiersz lub kolumna), do jakiej występują wartości.
            </documentation>
          </annotation>
        </attribute>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ColumnSample">
    <complexContent mixed="false">
      <extension base="target:SingleSheetSample" />
    </complexContent>
  </complexType>
  <complexType name="RowSample">
    <complexContent mixed="false">
      <extension base="target:SingleSheetSample" />
    </complexContent>
  </complexType>
  <simpleType name="Order">
    <restriction base="string">
      <enumeration value="BySamples">
        <annotation>
          <documentation>
            Domyślna wartość. Bez sortowania - dane wpisywane są w kolejności występowania.
          </documentation>
        </annotation>
      </enumeration>
      <enumeration value="ByDates">
        <annotation>
          <documentation>
            Sortowanie próbek po dacie. Używać tej wartości jeżeli występuje wiele próbek o tej samej nazwie.
          </documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <complexType name="SheetInfo">
    <attribute name="Pattern" type="string" use="required">
      <annotation>
        <documentation>
          Format wg jakiego tworzyć nazwy plików źródłowych. Dokumentacja formatów: https://msdn.microsoft.com/en-us/library/8kb3ddd4(v=vs.100).aspx
        </documentation>
      </annotation>
    </attribute>
    <attribute name="Period" type="target:Period" use="required">
      <annotation>
        <documentation>
          Rodzaj (częstotliwość) plików źródłowych.
        </documentation>
      </annotation>
    </attribute>
    <attribute name="Password" type="string">
      <annotation>
        <documentation>
          Hasło do pliku źródłowego (obecnie nieużywane).
        </documentation>
      </annotation>
    </attribute>
  </complexType>
  <simpleType name="Period">
    <restriction base="string">
      <enumeration value="Daily">
        <annotation>
          <documentation>
            Pliki źródłowe są dla każdego dnia.
          </documentation>
        </annotation>
      </enumeration>
      <enumeration value="Monthly">
        <annotation>
          <documentation>
            Pliki źródłowe są dla każdego miesiąca.
          </documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
</schema>